
body {
	padding-top: 70px; 
	background-color: #B7CEEC;
}

a {
	padding-right: 10px;
	color: #FFFFFF;
}

a:link {
	text-decoration: none;
	font-family: Verdana;	
}


a:hover {
	color: #000000;
}

.rounded{
	border-radius: 2px;
}


div>input {
	display: block;
}
#blue-box {
	background-color: rgba(159, 213, 224, 0.6);
	border: 1px solid #FFFFFF;
	margin-top: 5px;
	padding: 50px 5px 60px;
	border-radius: 5px;
	
   
}

.prettylooking {
	background-color: rgba(159, 221, 85, 0.2);
	border: 1px solid #FFFFFF;
	border-radius: 30px;
}

.centered {
	text-align: center;
}

#yellow-box {
	background-color: rgba(159, 221, 85, 0.2);
	margin-top: 4px;
	border: 1px solid #FFFFFF;
	padding: 10px;
	border-radius: 5px;
	
}
h4 {
	color: #FFFFFF;
}

.navbar-default {
	color: #FFFFFF;
	border: 1px solid #FFFFFF;
	text-align: center;
}

.nav-bar {
	text-align: center;
}

div > ul > li {
	list-style-type: none;
}

li {
	display: inline;
	padding: 5px;
}
#everything {
	margin: 0 auto;
}

fieldset {
	border: 0px;
}

#filter-button{
	text-align: center;
}

.buttonFilter {
	text-align: center;
}

.myHidden {
	display: none;
}

.input{
	padding: 10px;
	margin: 10px;
	display: inline-block;
}

.visible {
	display: block;
}

.add {
	display: inline;
	text-align: center;
}

#getMoreSongs {
	float: right;
}

#filter-button {
	text-align: center;
}

.col-xs-12 {
	display:block;
	height: 50%;
}



