.everything {
	display: flex;
	margin: 5 auto;
	-webkit-flex-wrap: wrap;
}

#nav-bar {
	diplay: inline;
	flex: 5 100%;
	width: 100px;
	background-color: #FFB4B0;
	border: 1px solid black;
	padding: 1%;
}

#song-list div:nth-child(2n+0) {
	background-color: #FFF5EE;
}

#song-list :first-of-type {
	font-weight: bold;
}

#song-list div:nth-child(2n+1) {
	background-color: #F5FFFA;
}


#blue-box {
	background-color: #4DD7FA;
	border: 1px solid black;
	padding: 50px 5px 60px;
	flex-grow: 1;

}

#yellow-box {
	background-color:  #FEFAC0;
	border: 1px solid black;
	padding: 10px;
	flex-grow: 10;
}
h2 {
	color: #785616;
}

div > #song-list {
	color: red;
	padding-bottom: 10px;
	border:; 1px solid black;
}

header {
	flex: 5 100%;
	width: 100px;

}
div > ul > li {
	list-style-type: none;
}

li {
	display: inline;
	border-right: 2px solid black;
	padding: 5px;
}

fieldset {
	border: 0px;
}

#filter-button{
	text-align: center;
}

.rounded{
	border-radius: 10px;
	margin: 6px;
}
